#fotter_msg,
#masonay-nav li a.active,
#place_order.button:hover,
.amount-selection button,
.amount-selection>a,
.animal-detail>ul li:hover a,
.booking-btn,
.button3:hover,
.button:before,
.cart-dropdown>p:before,
.cart-dropdown>ul li a.cart-drop-btn:hover,
.cart-list>li>input[type=submit]:hover,
.category-img ul li:hover:before,
.checkout-content input[type=submit]:hover,
.collected-amount span i,
.colored-box,
.coloured-donation a:hover,
.coloured-donation:before,
.coloured:before,
.comments>ul li .avatar:after,
.donate>a:before,
.donation-appeal>a:hover,
.donation-bg,
.donation-box,
.event-date span,
.featured-sermon-title,
.gallery-title:after,
.gallery-title:before,
.gallery-widget a:before,
.header-timer>p,
.hover-in .sermon-media li:hover,
.iconic-service:hover>span,
.image>a,
.item-detail:before,
.item-detail>a,
.latest-news-carousel .owl-buttons>div:hover,
.latest-tweets>span,
.leave-comment>form input[type=submit],
.mejs-controls .mejs-time-rail .mejs-time-loaded,
.member-detail>ul li a:hover,
.message-carousel .owl-buttons>div:hover,
.news-date,
.news-details:before,
.newsletter-signup input[type=submit],
.number-boxes span.coloured,
.pagination>li:first-child a:hover,
.pagination>li:last-child a:hover,
.pastors-message .sermon-media li:hover,
.popup-title,
.prayer-request input[type=submit],
.product-bottom span,
.quick-help>span,
.quote-symbol,
.responsive-btn,
.responsive-contact a.active,
.responsive-menu ul li.active>a:before,
.responsive-menu ul li:hover>a:before,
.responsive-prayer>p,
.responsive-social>a:hover,
.sermon-media li:hover,
.service-block-inner>a:hover:before,
.service-block>a,
.simple-service>a:hover,
.single-page>a:hover,
.slide1-box:before,
.slide10-button,
.slide11-box.coloured-box,
.slide8-button:hover,
.social-media li a:hover,
.survey>h3,
.tab-style .nav,
.theme-form>input[type=submit],
.welcome>a,
.widget .about .social-media li a:hover,
.widget .coloured-donation,
.widget .sermon-media li a:hover,
.widget form input[type=submit],
.widget-blog-img:before,
.woocommerce span.onsale,
.woocommerce-page .woocommerce-info:before,
.woocommerce-page span.onsale,
a.button2:hover,
button.button2:hover,
footer .widget-title>h4:before,
nav ul li a:before,
section#options ul.option-set li a.selected {
    background-color: #323539
}

.about h4 i,
.amount ins i,
.animal-img>span strong,
.blog-detail>a,
.blog-detail>a:hover,
.blog-detail>h3 a:hover,
.blog-list>h3 a:hover,
.book h3 a:hover,
.book>a:hover,
.bottom-footer p a,
.cart-dropdown>p span,
.cart-dropdown>ul li a.cart-drop-btn,
.category-block>h3 a:hover,
.comment-widget h5 a:hover,
.comments>ul li h5 i span,
.contact li a i:hover,
.donate h2 span,
.donation-appeal h3 span,
.donation-progress>h2 span,
.error-page h4 i,
.event-count>h4 a:hover,
.event-detail>span i,
.event-detail>ul li a i,
.event>h3 a:hover,
.featured-sermon h3 a:hover,
.featured-sermon span i,
.iconic-service:hover>h3,
.info-block:hover i,
.item-detail>h3 a:hover,
.latest-serm>h2 span,
.leave-comment>h4 i,
.member-detail>h3 a:hover,
.member-detail>span,
.needed h5,
.news h3 a:hover,
.online-store>h4 span,
.page-top h1 span,
.pagination>li span,
.parallax-text h3 span,
.parallax-title h3 span,
.pastor-info>h4 span,
.pastors-message span,
.percentage:hover h5,
.pop-message>span,
.product h3 a:hover,
.quick-help h5 span,
.responsive-cart span,
.responsive-contact p i,
.responsive-menu ul li.active>a,
.responsive-menu ul li.menu-item-has-children.active>a:after,
.responsive-menu ul li.menu-item-has-children:hover>a:after,
.responsive-menu ul li:hover>a,
.search-page>h4 span,
.sermon h3 a:hover,
.sermon-media li i,
.sermon>h3 a:hover,
.service-block-inner>h3,
.service-block:hover>h3,
.service-block>a:hover,
.service-image i,
.share-this h5 i,
.simple-blog>h4 a:hover,
.simple-service:hover .simple-icon>span,
.simple-service:hover>h3,
.slide-button2:hover,
.slide-title1>span,
.slide-title2>span,
.slide10-button:hover,
.slide10-title span,
.slide11-title span,
.slide2-title i,
.slide3-title span,
.story-detail>h3 a:hover,
.survey-report>h5,
.thanks-message h5,
.thanks-message>span,
.title2 h2 span,
.title3 h2 span,
.title5>h2 span,
.title>h2 span,
.toggle-item.activate h2,
.toggle-item.activate h2 i,
.upcoming-event h3 i,
.welcome h1 i,
.welcome h1 span,
.welcome>a:hover,
.widget .contact li span,
.widget-blog>h6 a:hover,
.widget-blog>p a:hover,
.widget-blog>span,
a,
a:hover,
h4.new-title a:hover,
nav ul li a:after {
    color: #0a0101
}

.about .nav li.active a,
.animal-detail>ul li:hover a,
.button3,
.carousel-item .sermon-media li:hover,
.cart-dropdown>ul li a.cart-drop-btn,
.cart-dropdown>ul li.item-number,
.item-detail>a,
.service-block:hover,
.service-block>a,
.simple-service>a,
.slide8-button:hover,
.title5>h2 span,
.welcome>a,
.widget-title:before,
.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info {
    border-color: #357ed8
}

.cart-dropdown>ul:after,
.ticket-booking .booking-btn span:after {
    border-bottom-color: #357ed8
}

.responsive-contact a.active:before {
    border-left-color: #357ed8
}

.responsive-contact a.mail-btn.active:before {
    border-right-color: #357ed8
}