{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

	<link rel="stylesheet"  type="image/ico" href="{% static 'css/assets/front/images/favicon-32x32.png' %}" />
	<link rel="stylesheet"  type="image/ico" href="{% static 'css/assets/front/images/favicon-32x32.png' %}" />
	<link rel="stylesheet"  href="{% static 'css/assets/front/images/favicon.ico' %}"/>
	    <title>GlobalSmartReaserchFirm</title>
    <meta name="description" content="As an SEBI Registered stock investment advisory firm in Indore India, we offer best intraday trading tips, equity intraday tips for today, stock market tips etc. For free trial, call 7049501000.">
    <meta name="keywords" content="share market tips, commodity tips, stock advisory company, best stock tips provider, stock tips, stock market tips, sebi registered investmnet advisor, nifty tips, profitaim, profitaim research, profit aim, profitaim research indore">
    <!--.......Google Webmaster Code.......-->
    <meta name="google-site-verification" content="0gSY5K40dWjHwfI-WqdcNLDsIzv7oMBW4Y4YVjlOYC0" />
    <!--.......Google Webmaster Code End.......-->
    <!--.......Meta Tags.......-->
    <meta name="author" content="Profit Aim Advisory Research - https://www.profitmresearch.com" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="1 day" />
    <meta name="page-topic" content="ProfitAim Research Investment Advisor, SEBI Registered Investment Advisor, MCX Tips ,Stock Market Tips" />
    <meta name="page-type" content="ProfitAim Research Investment Advisor, SEBI Registered Investment Advisor, MCX Tips ,Stock Market Tips" />
    <meta name="rating" content="general" />
    <meta name="YahooSeeker" content="index,follow" />
    <meta name="msnbot" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="copyright" content=" all rights reserved. Profit Aim Advisory Research" />
    <meta name="googlerank" content="all" />
    <meta name="editors-url" content="https://www.profitmresearch.com/" />
    <meta name="serp-rank" position="1"/>
    <meta name="site" content="ProfitAim Research Investment Advisor" />
    <!--.......Meta Tags End.......-->
    <!--.......Bing Analyzer code.......-->
    <meta name="msvalidate.01" content="BF15CCC8141156C435C3DAD2C469CE4C" />
    <!--.......Bing Analyzer code.......-->
    <!--.......Corporate Contact.......-->
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108798159-2"></script>
	
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-108798159-2');
    </script>


    
    <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "Organization",
"url": "https://profitmresearch.com",
"name": "GlobalSmartReaserchFirm Investment Advisory",
"logo": "assets/front/images/ProfitAim-Research-Investment-Advisor.png",
"email": "Profitaimresearch@gmail.com",
"contactPoint": 
[{
"@type": "ContactPoint",
"telephone": "+917049501000",
"contactType": "Customer Support"
}],
"sameAs": [
"https://www.facebook.com/profitmresearch",
"https://twitter.com/profitaim",
"https://www.linkedin.com/company/profit-aim-research/",
"https://in.pinterest.com/profitmreseasrch/ ",
"https://www.youtube.com/channel/UCu3GQJdUW2dppB4tNW8Wihw"
],
"address": {
"@type": "PostalAddress",
"addressLocality": "Vijay Nagar, Indore",
"addressRegion": "Madhya Pradesh",   
"postalCode": "452010",
"streetAddress": "Mazznine Flore, Plot Number 366, PU 4, Scheme No.54, Behind Country Inn Hotel"
}
}
</script>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<!-- Styles -->
	<link rel="stylesheet" href="{% static 'css/assets/front/font-awesome/css/font-awesome.css' %}"  type="text/css" />
	<link href="{% static 'css/assets/front/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/assets/front/css/style.css' %}" type="text/css" />
	<link href="{% static 'css/assets/front/css/responsive.css' %}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets/front/css/colors/red.css' %}" title="color1" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets/front/css/developer.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets/front/css/review_slider.css' %}" />
	<link href="{% static 'css/assets/front/service_icons/font_face.css' %}" rel="stylesheet" type="text/css"/>

	<link href="{% static 'css/assets/front/css/slider/plug.css' %}" rel="stylesheet" media=all>
	<link href="{% static 'css/assets/front/plugins/parsley/parsley.css' %}" rel="stylesheet" media=all>
	<link href="{% static 'css/assets/front/plugins/blockUI/jquery-ui.css' %}" rel="stylesheet" media=all>
	<link rel="stylesheet" href="{% static 'css/assets/front/plugins/wow/animate.css' %}">
	<link rel="canonical" href="" />
	<script src="{% static 'css/assets/front/js/jquery.1.10.2.js' %}" type="text/javascript"></script>
	<script> var base_url = '';</script>
	<!-- Global site tag (gtag.js) - Google Ads: 856048451 -->
	<!-- Global site tag (gtag.js) - Google Ads: 856048451 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-856048451"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'AW-856048451');


    window.addEventListener('click', function(e){   
   if (document.getElementById('mySidebar').contains(e.target)){
   } else{
	 if(e.target.tagName != "I"){
		document.getElementById("mySidebar").style.display = "none";
	 }
    // Clicked outside the box
   }
    });

	</script>
	<!-- Start of profitaim Zendesk Widget script -->
	<!--<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1cba687e-86e1-48cd-8477-ea12a432d2d8"> </script>-->
	<!-- End of profitaim Zendesk Widget script -->

	<!--Start of Zendesk Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
		d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
			$.src="https://v2.zopim.com/?3yBtFQOOnsQLolfseO26Sava3wTM3wSx";z.t=+new Date;$.
			type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
			</script>
			<!--End of Zendesk Chat Script-->
		</head>
<body>
    <header class="header2">
        <div class="topbar">
            <div class="container">
                <!-- <p><i class="fa fa-mobile"></i> 7049501000</p>
                <p><i class="fa fa-envelope"></i>  Profitaimresearch@gmail.com</p> -->
                <!-- <ul class="social-media pull-right">
                    <li><a title="" target="_blank" href="https://www.linkedin.com/company/profit-aim-research/"><i class="fa fa-linkedin"></i></a></li> -->
                    <!--<li><a title="" target="_blank" href="https://plus.google.com/u/0/+ProfitAimResearch"><i class="fa fa-google-plus"></i></a></li>-->
                    <!-- <li><a title="" target="_blank" href="https://twitter.com/profitaim"><i class="fa fa-twitter"></i></a></li>
                    <li><a title="" target="_blank" href="https://www.facebook.com/profitmresearch"><i class="fa fa-facebook"></i></a></li>
                    <li><a title="" target="_blank" href="https://www.youtube.com/channel/UCu3GQJdUW2dppB4tNW8Wihw"><i class="fa fa-youtube"></i></a></li>
                    <li><a title="" target="_blank" href="https://in.pinterest.com/profitmreseasrch/"><i class="fa fa-pinterest"></i></a></li>
                </ul> -->
            </div>
        </div><!--- TOP BAR -->
        <nav class="ste" id="myHeader">
            <div class="container">

                <ul>
                    <!-- <li style="width:120px"><a href="" title=""><img src="assets/front/images/ProfitAim-Research-Investment-Advisor.png" alt="GlobalSmartReaserchFirm" class="img-responsive logo" /></a></li> -->
                    <li><h1 style="color:#fe4066; font-size: 30px;">GlobalSmartReaserchFirm</h1></li>
                    <!-- <li><div class="angrytext">SEBI REGISTRATION NO:  INA000004757</div></li> -->
                    <!-- <li><a title="Home"  class="active" href="">Home</a></li> -->
                    
                    <li class="menu-item-has-children mega_menu">
                        <a  title="Services" href="marketing" class="" >Home</a> 
                        <!-- <li><a   onclick="scrollHalf()" class="" >Services</a></li> -->
                        <!-- <ul>
                            <div class="col-md-6">
                                <li><a  title="Stock Cash Premium">Stock Cash Premium</a></li>
                                <li><a  title="Stock Cash TechniQ">Stock Cash TechniQ</a></li>
                                
                                <li><a  title="Stock Future Basic">Stock Future Basic</a></li>	
                                <li><a  title="Stock Future Premium">Stock Future Premium</a></li>
                                <li><a  title="Stock Future TechniQ">Stock Future TechniQ</a></li>	 
                                <li><a  title="Stock Cash Basic">Stock Cash Basic</a></li> -->
                                <!-- <li><a href="" title="Base Metal">Base Metal</a></li>
                                <li><a href="" title="Index Future">Energy</a></li>

                            </div> 	
                            <div class="col-md-6">
                             <li><a  title="Stock Option Basic">Stock Option Basic</a></li>					
                                <li><a  title="Stock Option Premium">Stock Option Premium</a></li>
                                <li><a  title="Stock Option TechniQ">Stock Option TechniQ</a></li>
                                <li><a  title="Index Option Basic">Index Option Basic</a></li>
                                <li><a  title="Index Option Premium">Index Option Premium</a></li>
                                <li><a  title="Index Future">Index Future</a></li> -->

                                <!-- <li><a href="" title="Index Future">Bullions</a></li>
                                <li><a href="" title="MCX Combo">MCX Combo</a></li> -->
                            <!-- </div>	
                        </ul> -->

                    </li>
                    <li><a  title="Pricing" href="term-condition" class="">Terms & Condition</a></li>
                    <!-- <li class=""><a class=""  title="Payment">Payment</a>
                            <ul>
                            <li><a href="#" title="">Fund Transfer</a></li>
                            <li><a href="" target="_blank" title="Pay U Money">Pay U Money</a></li>
                            <li><a title="Express ccavenue checkout">Express ccavenue checkout</a></li>	
                        </ul>
                    </li> -->
                    <!-- <li><a class="" title="">Report</a></li> -->
                    <li><a class="" href="about_us" onclick="scrollBottom()" title="">About Us</a></li>
                    <li><a  class=""><div style="color: #555;padding: 0" class="angrytext-1">Risk Profile (RPM)</div></a></li>
                </ul>
            </div>
        </nav>
    </header><!--- HEADER -->

    <div class="responsive-header">
        <div class="responsive-contact">
            <span>
                <p class="responsive-phone"><i class="fa fa-phone"></i>8962502125</p>
            </span>
        </div><!-- Responsive Contact -->
        <div class="responsive-extras">
            <div class="responsive-social">
                
            </div><!-- Responsive Social -->
        </div><!-- Responsive Extras -->
        <div class="responisve-bar">
            <h1 class="responsive-logo" style="color:#fe4066; font-size: 28px;     max-width: 162px;
                    margin-top: 2px;">GlobalSmartReaserchFirm</h1>
                    <!-- <div class="responsive-logo"><a href="" title=""></a></div> -->
                    <div class="w3-teal">
                        <!-- <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button> -->
                        <button class="responsive-btn"  style="background-color: #ffffff; border:none" id  onclick="w3_open()">
                            <i style="color:#fe4066;" class="fa">☰ </i>
                            
                        </button>
                    
                        <!-- ---------------&------------------------------------------ -->
                        <div class="sidebar"  style="display:none" id="mySidebar">
                            <!-- <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button> -->
                            
                            <div class="responsive-menu slidein" id="mySidebar" tabindex="0" style="width: 270px; padding-right: 0px; outline: none; overflow: hidden;">
                               <ul style="display:flex;flex-direction: column;">
                                   <li><a title="Home" class="" onclick="window.location.reload()">Home</a></li>
                                   <li><a title="About" class="active" href="./about_us.html">About</a></li>
                                   <!-- <li class="menu-item-has-children"><a href="https://profitmresearch.com/services" title="Services">
                                       Services</a> -->
                                       <ul >
                                           <li class="menu-item-has-children"><a href="javascript:void(0)" title="Equity">Equity</a>
                                               <ul style="display:flex; flex-direction:column;">
                                                   <!-- <li><a href="" title="Stock Cash">Stock Cash</a></li>
                                                   <li><a href="" title="Stock Option">Stock Option</a></li>
                                                   <li><a href="" title="Stock Future">Stock Future</a></li>
                                                   <li><a href="" title="Stock Cash Super HNI">Stock Cash Super HNI</a></li>	
                                                   <li><a href="" title="Stock Option Super HNI">Stock Option Super HNI</a></li>	
                                                   <li><a href="" title="Stock Future Super HNI">Stock Future Super HNI</a></li>
                                                   <li><a href="" title="Nifty Future">Nifty Future</a></li>	
                                                   <li><a href="" title="Nifty Option">Nifty Option</a></li> -->
       
                                                   <li><a href="https://profitmresearch.com/services/stock_cash_basic" title="Stock Cash Basic">Stock Cash Basic</a></li>
                                                   <li><a href="https://profitmresearch.com/services/stock_cash_premium" title="Stock Cash Premium">Stock Cash Premium</a></li>
                                                   <li><a href="https://profitmresearch.com/services/stock_cash_techniq" title="Stock Cash TechniQ">Stock Cash TechniQ</a></li>
       
                                                   <li><a href="https://profitmresearch.com/services/stock_future_basic" title="Stock Future Basic">Stock Future Basic</a></li>	
                                                   <li><a href="https://profitmresearch.com/services/stock_future_premium" title="Stock Future Premium">Stock Future Premium</a></li>
                                                   <li><a href="https://profitmresearch.com/services/stock_future_techniq" title="Stock Future TechniQ">Stock Future TechniQ</a></li>	
                                                   <!-- <li><a href="" title="Base Metal">Base Metal</a></li>
                                                   <li><a href="" title="Index Future">Energy</a></li> -->
                                                   <li><a href="https://profitmresearch.com/services/stock_option_basic" title="Stock Option Basic">Stock Option Basic</a></li>					
                                                   <li><a href="https://profitmresearch.com/services/stock_option_premium" title="Stock Option Premium">Stock Option Premium</a></li>
                                                   <li><a href="https://profitmresearch.com/services/stock_option_techniq" title="Stock Option TechniQ">Stock Option TechniQ</a></li>
                                                   <li><a href="https://profitmresearch.com/services/index_option_basic" title="Index Option Basic">Index Option Basic</a></li>
                                                   <li><a href="https://profitmresearch.com/services/index_option_premium" title="Index Option Premium">Index Option Premium</a></li>
                                                   <li><a href="https://profitmresearch.com/services/index_future" title="Index Future">Index Future</a></li>
       
                                                   <!-- <li><a href="" title="Index Future">Bullions</a></li>
                                                   <li><a href="" title="MCX Combo">MCX Combo</a></li> -->
                                               </ul>
                                           </li>
                                   <!-- <li class="menu-item-has-children"><a href="javascript:void(0)" title="Commodity">Commodity</a>
                                       <ul>
                                           <li><a href="" title="MCX Premium">MCX Premium</a></li>
                                           <li><a href="" title="MCX Combo">MCX Combo</a></li>
                                           
                                           <li><a href="" title="Base Metal">Base Metal</a></li>
                                           <li><a href="" title="Bullions">Bullions</a></li>
                                           <li><a href="" title="Energy">Energy</a></li>
                                       </ul>
                                   </li> -->
                               </ul>
                           <li><a class="" href="./index.html" title="" >Report</a></li>
                           <li><a class="" href="./index.html" title="" >Ask an Expert</a></li>
                       </ul>
                   </div>
                          </div>
                          
                          <!-- Page Content -->
                          
    
    
    
    
                     <!-- #------------------------------------------------------------- -->
                      </div>
                      <!-- <span class="responsive-btn"><i class="fa fa-list"></i></span> -->
        </div>
    </div>
    
    <section class="section_service_blog"> 
        <main class="main">
            {% for blog in blogs %}
             <article class="article">
                     <h2 class="blog_header">{{blog.heading}}</h2>
     
                 {% comment %} <header class="blog_header">
                     <h2>My First Blog Post</h2>
                     <p class="article_p">Posted on January 1, 2023 by John Doe</p>
                 </header> {% endcomment %}
                 <p class="para">{{blog.para1}}</p>
                 <p class="para">{{blog.para2}}</p>
                 <p class="para">{{blog.para3}}</p>
                 <p class="para">{{blog.para4}}</p>

             </article>
            {% endfor %}
     
             {% comment %} <article class="article">
                 <h2 class="blog_header">My Second Blog Post</h2> {% endcomment %}
     
             {% comment %} <header class="blog_header">
                 <h2>My First Blog Post</h2>
                 <p class="article_p">Posted on January 1, 2023 by John Doe</p>
             </header> {% endcomment %}
             {% comment %} <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac purus eget odio aliquam blandit in eu dui. Sed vel leo eros. Aliquam hendrerit risus vitae justo accumsan, sed ultricies sapien laoreet. Nullam suscipit, libero at commodo eleifend, lacus quam tincidunt turpis, a auctor arcu nulla sed libero. Integer in magna non ex varius lacinia. Suspendisse eget commodo massa. Quisque ultrices dignissim lorem nec tincidunt.</p>
             <p class="para">Integer at feugiat nulla. Pellentesque ac tincidunt elit, id consectetur arcu. Vivamus eget tincidunt risus. Donec in congue metus, vel volutpat tellus. Sed ultrices, nisi ac accumsan efficitur, arcu felis mattis felis, a lacinia quam enim vel nisl. Suspendisse volutpat nulla sed eros aliquam efficitur. Praesent id nunc eu enim laoreet sagittis non in nulla. </p>
         </article> {% endcomment %}
             {% comment %} <article>
                 <header>
                     <h2>My Second Blog Post</h2>
                     <p class="meta">Posted on January 15, 2023 by John Doe</p>
                 </header>
                 <p>Sed vel leo eros. Aliquam hendrerit risus vitae justo accumsan, sed ultricies sapien laoreet. Nullam suscipit, libero at commodo eleifend, lacus quam tincidunt turpis, a auctor arcu nulla sed libero. Integer in magna non ex varius lacinia. Suspendisse eget commodo massa. Quisque ultrices dignissim lorem nec tincidunt. Integer at feugiat nulla. Pellentesque ac tincidunt elit, id consectetur arcu.</p>
                 <p>Vivamus eget tincidunt risus. Donec in congue metus, vel volutpat tellus. Sed ultrices, nisi ac accumsan efficitur, arcu felis mattis felis, a lacinia quam enim vel nisl. Suspendisse volutpat nulla sed eros aliquam efficitur. Praesent id nunc eu enim laoreet sagittis non in nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac purus eget odio aliquam blandit in eu dui.</p>
             </article> {% endcomment %}
         </main>
     </section>



    
    <script>
        function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
        }
        
        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
        }
    
    
      
        </script>

</body>