<!DOCTYPE html>
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" rel="shortcut icon" type="image/ico" href="{% static 'css/assets/front/images/favicon-32x32.png' %}" />
	<link rel="stylesheet" rel="icon" type="image/ico" href="{% static 'css/assets/front/images/favicon-32x32.png' %}" />
	<link rel="stylesheet" rel="shortcut icon" href="{% static 'css/assets/front/images/favicon.ico' %}"/>
	    <title>GlobalSmartReaserchFirm</title>

    <meta name="description" content="As an SEBI Registered stock investment advisory firm in Pune India, we offer best intraday trading tips, equity intraday tips for today, stock market tips etc. For free trial, call 7049501000.">
    <meta name="keywords" content="share market tips, commodity tips, stock advisory company, best stock tips provider, stock tips, stock market tips, sebi registered investmnet advisor, nifty tips, profitaim, profitaim research, profit aim, profitaim research Pune">
    <!--.......Google Webmaster Code.......-->
    <meta name="google-site-verification" content="0gSY5K40dWjHwfI-WqdcNLDsIzv7oMBW4Y4YVjlOYC0" />
    <!--.......Google Webmaster Code End.......-->
    <!--.......Meta Tags.......-->
    <meta name="author" content="Profit Aim Advisory Research - https://www.profitmresearch.com" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="revisit-after" content="1 day" />
    <meta name="page-topic" content="ProfitAim Research Investment Advisor, SEBI Registered Investment Advisor, MCX Tips ,Stock Market Tips" />
    <meta name="page-type" content="ProfitAim Research Investment Advisor, SEBI Registered Investment Advisor, MCX Tips ,Stock Market Tips" />
    <meta name="rating" content="general" />
    <meta name="YahooSeeker" content="index,follow" />
    <meta name="msnbot" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="copyright" content=" all rights reserved. Profit Aim Advisory Research" />
    <meta name="googlerank" content="all" />
    <meta name="editors-url" content="https://www.profitmresearch.com/" />
    <meta name="serp-rank" position="1"/>
    <meta name="site" content="ProfitAim Research Investment Advisor" />
    <!--.......Meta Tags End.......-->
    <!--.......Bing Analyzer code.......-->
    <meta name="msvalidate.01" content="BF15CCC8141156C435C3DAD2C469CE4C" />
	{% comment %} <link rel="stylesheet" href="{% static "css/index.css" %}" />
	 {% endcomment %}

    <!--.......Bing Analyzer code.......-->
    <!--.......Corporate Contact.......-->
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108798159-2"></script>
	  
    <script>

		$("sidebar").click(function(event){
		  alert('ffsafdsf');
		});

		var modal = document.getElementsByClassName('responsive-menu');

		 window.onclick = function(){
			alert('ffsafdsf');
		 }
		  </script>
		

    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-108798159-2');
    </script>


    
    <script type="application/ld+json">
		
{
"@context": "https://schema.org",
"@type": "Organization",
"url": "https://profitmresearch.com",
"name": "Profit Aim Research Investment Advisory",
"logo": "assets/front/images/ProfitAim-Research-Investment-Advisor.png",
"email": "Profitaimresearch@gmail.com",
"contactPoint": 
[{
"@type": "ContactPoint",
"telephone": "+917049501000",
"contactType": "Customer Support"
}],
"sameAs": [
"https://www.facebook.com/profitmresearch",
"https://twitter.com/profitaim",
"https://www.linkedin.com/company/profit-aim-research/",
"https://in.pinterest.com/profitmreseasrch/ ",
"https://www.youtube.com/channel/UCu3GQJdUW2dppB4tNW8Wihw"
],
"address": {
"@type": "PostalAddress",
"addressLocality": "Vijay Nagar, Pune",
"addressRegion": "Maharashtra",   
"postalCode": "452010",
"streetAddress": "Mazznine Flore, Plot Number 366, PU 4, Scheme No.54, Behind Country Inn Hotel"
}
}
</script>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<!-- Styles -->
	<link  rel="stylesheet" type="text/css"  href="{% static 'css/assets/front/font-awesome/css/font-awesome.css' %}"  />
	<link  rel="stylesheet" type="text/css"  href="{% static 'css/assets/onimage.css' %}"  />

	<link  rel="stylesheet" type="text/css"  href="{% static 'css/assets/front/css/bootstrap.min.css' %}"   />
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets/front/css/style.css' %}"  />
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets/front/css/responsive.css'  type="text/css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets/front/css/colors/red.css' %}" title="color1" />
	<link rel="stylesheet" href="{% static 'css/assets/front/css/developer.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets/front/css/review_slider.css' %}" />
	<link href="{% static 'css/assets/front/service_icons/font_face.css' %}" />
    
	<link href="{% static 'css/assets/front/css/slider/plug.css' %}"  media=all>
	<link href="{% static 'css/assets/front/plugins/parsley/parsley.css' %}"  media=all>
	<link href="{% static 'css/assets/front/plugins/blockUI/jquery-ui.css' %}"  media=all>
	<link rel="stylesheet" href="{% static 'css/assets/front/plugins/wow/animate.css' %}">
	<link rel="canonical" href="" />
	<script src="{% static 'css/assets/front/js/jquery.1.10.2.js' %}" type="text/javascript"></script>
	<script> var base_url = '';</script>
	<!-- Global site tag (gtag.js) - Google Ads: 856048451 -->
	<!-- Global site tag (gtag.js) - Google Ads: 856048451 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-856048451"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'AW-856048451');

	// window.onclick = (e) => {
	// 	alert('dfsdfdasfsdf',e.target);
	// 	console.log('fsfdasfdsf',e)
		
		// 
	// }

	window.addEventListener('click', function(e){   
   if (document.getElementById('mySidebar').contains(e.target)){
   } else{
	 if(e.target.tagName != "I"){
		document.getElementById("mySidebar").style.display = "none";
	 }
    // Clicked outside the box
   }
    });

	</script>

	<script>
		function SubForm (){
			$.ajax({
				url:'https://api.apispreadsheets.com/data/htpuqTelKDhOnspe/',
				type:'post',
				data:$("#contact_form").serializeArray(),
				success: function(){
				  alert("Form Data Submitted :)")
				},
				error: function(){
				  alert("There was an error :(")
				}
			});
		}
		</script>

		<style> 


		</style>


	<!-- Start of profitaim Zendesk Widget script -->
	<!--<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1cba687e-86e1-48cd-8477-ea12a432d2d8"> </script>-->
	<!-- End of profitaim Zendesk Widget script -->

	<!--Start of Zendesk Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
		d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
			$.src="https://v2.zopim.com/?3yBtFQOOnsQLolfseO26Sava3wTM3wSx";z.t=+new Date;$.
			type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
			</script>
			<!--End of Zendesk Chat Script-->
		</head>

		<body class="">

<!-- Not in use -->
			<!-- <div class="loading-area" style="display:none;">
				<div class="loading-box"></div>
				<div class="loading-pic">
					<div class="cssload-container">
						<div class="cssload-dot bg-primary"><i class="fa fa-inr"></i></div>
						<div class="step" id="cssload-s1"></div>
						<div class="step" id="cssload-s2"></div>
						<div class="step" id="cssload-s3"></div>
					</div>
				</div>
			</div> -->
            <!-- Not in use -->
  
			<!-- <div class="scrollTop">
				<img src="assets/front/images/scrolling_icons.png" width="48" height="48" title="Scroll to top" alt="ProfitAim Scroll Image"> 
            </div> -->
				<div class="mainTitle" ></div>
				<div class="theme-layout">
					<header class="header2">
						<div class="topbar">
							<div class="container">
								<!-- <p><i class="fa fa-mobile"></i> 7049501000</p>
								<p><i class="fa fa-envelope"></i>  Profitaimresearch@gmail.com</p> -->
								<!-- <ul class="social-media pull-right">
									<li><a title="" target="_blank" href="https://www.linkedin.com/company/profit-aim-research/"><i class="fa fa-linkedin"></i></a></li> -->
									<!--<li><a title="" target="_blank" href="https://plus.google.com/u/0/+ProfitAimResearch"><i class="fa fa-google-plus"></i></a></li>-->
									<!-- <li><a title="" target="_blank" href="https://twitter.com/profitaim"><i class="fa fa-twitter"></i></a></li>
									<li><a title="" target="_blank" href="https://www.facebook.com/profitmresearch"><i class="fa fa-facebook"></i></a></li>
									<li><a title="" target="_blank" href="https://www.youtube.com/channel/UCu3GQJdUW2dppB4tNW8Wihw"><i class="fa fa-youtube"></i></a></li>
									<li><a title="" target="_blank" href="https://in.pinterest.com/profitmreseasrch/"><i class="fa fa-pinterest"></i></a></li>
								</ul> -->
							</div>
						</div><!--- TOP BAR -->
						<nav class="ste" id="myHeader">
							<div class="container">

								<ul>
									<!-- <li style="width:120px"><a href="" title=""><img src="assets/front/images/ProfitAim-Research-Investment-Advisor.png" alt="Profit Aim Research" class="img-responsive logo" /></a></li> -->
									<li><h1 style="
										color: #2081a7;
										font-family: serif;
										font-size: 30px;">GlobalSmartReaserchFirm</h1></li>

									<!-- <li><div class="angrytext">SEBI REGISTRATION NO:  INA000004757</div></li> -->
									<!-- <li><a title="Home"  class="active" href="">Home</a></li> -->
									<!-- <button class="responsive-btn" onclick="w3_open()">
										<i class="fa">☰ </i>
									
									</button> -->

									
																		<li class="menu-item-has-children mega_menu">
																			<a  title="Services"  class="" >Home</a> 
																			<li><a   onclick="scrollHalf()" class="" >Services</a></li>
																			<!-- <ul>
																				<div class="col-md-6">
																					<li><a  title="Stock Cash Premium">Stock Cash Premium</a></li>
																					<li><a  title="Stock Cash TechniQ">Stock Cash TechniQ</a></li>
																					
																					<li><a  title="Stock Future Basic">Stock Future Basic</a></li>	
																					<li><a  title="Stock Future Premium">Stock Future Premium</a></li>
																					<li><a  title="Stock Future TechniQ">Stock Future TechniQ</a></li>	 
																					<li><a  title="Stock Cash Basic">Stock Cash Basic</a></li> -->
																					<!-- <li><a href="" title="Base Metal">Base Metal</a></li>
																					<li><a href="" title="Index Future">Energy</a></li>
									
																				</div> 	
																				<div class="col-md-6">
																				 <li><a  title="Stock Option Basic">Stock Option Basic</a></li>					
																					<li><a  title="Stock Option Premium">Stock Option Premium</a></li>
																					<li><a  title="Stock Option TechniQ">Stock Option TechniQ</a></li>
																					<li><a  title="Index Option Basic">Index Option Basic</a></li>
																					<li><a  title="Index Option Premium">Index Option Premium</a></li>
																					<li><a  title="Index Future">Index Future</a></li> -->
									
																					<!-- <li><a href="" title="Index Future">Bullions</a></li>
																					<li><a href="" title="MCX Combo">MCX Combo</a></li> -->
																				<!-- </div>	
																			</ul> -->
									
																		</li>
																		<li><a  title="Pricing" href="./term-condition" class="">Terms & Condition</a></li>
																		<!-- <li class=""><a class=""  title="Payment">Payment</a>
																				<ul>
																				<li><a href="#" title="">Fund Transfer</a></li>
																				<li><a href="" target="_blank" title="Pay U Money">Pay U Money</a></li>
																				<li><a title="Express ccavenue checkout">Express ccavenue checkout</a></li>	
																			</ul>
																		</li> -->
																		<!-- <li><a class="" title="">Report</a></li> -->
																		<li><a class="" href="about_us" title="">About Us</a></li>
																		<li><a class="" href="my_blog" title="">Blog</a></li>




																		
																		
																		
																		
																		
																		
																		
																		
																		
																	</ul>
							</div>
						</nav>
					</header><!--- HEADER -->

					<div class="responsive-header">
						<div class="responsive-contact">
							<span>
								<p class="responsive-phone"><i class="fa fa-phone"></i>+918962502125</p>
							</span>
							<!-- <a class="phone-btn active" href="#" title=""><i class="fa fa-phone"></i></a>
							<a class="mail-btn" href="#" title=""><i class="fa fa-envelope"></i></a> -->
						</div><!-- Responsive Contact -->
						<div class="responsive-extras">
							<div class="responsive-social">
								
							</div><!-- Responsive Social -->
						</div><!-- Responsive Extras -->
						<div class="responisve-bar">
							<h1 class="responsive-logo" style="
							color: #2081a7;
							font-family: serif;
							font-size: 30px;
							    max-width: 162px;
									margin-top: 2px;">GlobalSmartReaserchFirm</h1>
									<!-- <div class="responsive-logo"><a href="" title=""></a></div> -->
									<div class="w3-teal">
										<!-- <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button> -->
										<button class="responsive-btn" style="background-color: #ffffff; border:none" id  onclick="w3_open()">
											<i style="color:#fe4066;" class="fa">☰ </i>
											
										</button>
									
										<!-- ---------------&------------------------------------------ -->
										<div class="sidebar"  style="display:none" id="mySidebar">
											<!-- <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button> -->
											
											<div class="responsive-menu slidein" id="mySidebar" tabindex="0" style="width: 270px; padding-right: 0px; outline: none; overflow: hidden;">
												<button id="menu-close-button">X</button>
												<ul style="display:flex;flex-direction: column;">
												   <li><a title="Home" class="" onclick="window.location.reload()">Home</a></li>
												   <li><a title="About" class="active" href="about_us">About</a></li>
												   <li class="menu-item-has-children"><a onclick="mobileScrollHalf()" title="Services">
													   Services</a>
													   <ul >
														   <li class="menu-item-has-children"><a href="javascript:void(0)" title="Equity">Equity</a>
															   <ul style="display:flex; flex-direction:column;">
																   <!-- <li><a href="" title="Stock Cash">Stock Cash</a></li>
																   <li><a href="" title="Stock Option">Stock Option</a></li>
																   <li><a href="" title="Stock Future">Stock Future</a></li>
																   <li><a href="" title="Stock Cash Super HNI">Stock Cash Super HNI</a></li>	
																   <li><a href="" title="Stock Option Super HNI">Stock Option Super HNI</a></li>	
																   <li><a href="" title="Stock Future Super HNI">Stock Future Super HNI</a></li>
																   <li><a href="" title="Nifty Future">Nifty Future</a></li>	
																   <li><a href="" title="Nifty Option">Nifty Option</a></li> -->
					   
					   
																   <!-- <li><a href="" title="Index Future">Bullions</a></li>
																   <li><a href="" title="MCX Combo">MCX Combo</a></li> -->
															   </ul>
														   </li>
												   <!-- <li class="menu-item-has-children"><a href="javascript:void(0)" title="Commodity">Commodity</a>
													   <ul>
														   <li><a href="" title="MCX Premium">MCX Premium</a></li>
														   <li><a href="" title="MCX Combo">MCX Combo</a></li>
														   
														   <li><a href="" title="Base Metal">Base Metal</a></li>
														   <li><a href="" title="Bullions">Bullions</a></li>
														   <li><a href="" title="Energy">Energy</a></li>
													   </ul>
												   </li> -->
											   </ul>
										   </li>
										   <li><a class="" href="my_blog" title="">Blog</a></li>
										   <li><a title="Pricing" href="term-condition" class="">Terms & Condition</a></li>				
									   </ul>
								   </div>
										  </div>
									  </div>
						</div>
					</div><!-- Responsive Header -->
				<div class="responsive-menu">
					<ul>
						<li><a title="Home"  class="active" href="">Home</a></li>
						<li><a title="About" class=""  >About</a></li>
						<li class="menu-item-has-children"><a  title="Services"> Services</a>
						<ul>
							<li class="menu-item-has-children"><a href="javascript:void(0)" title="Equity">Equity</a>
							</li>
						</ul>
						</li>
						<li><a class="" href="my_blog" title="">Blog</a></li>	
						<li><a title="Pricing" href="term-condition" class="">Terms & Condition</a></li>	
					</ul>
				</div>
			<div class="clearfix"></div><div class="carousel ps_easeOutInCubic ps_indicators_ld ps_rotate_scale_o swipe_x" data-duration="2000" data-interval="5000" data-pause="hover" data-ride="carousel" id="fw_al_010">
	<ol class="carousel-indicators">
		<li data-slide-to=0 data-target="#fw_al_010 class=active">
			<li data-slide-to=1 data-target="#fw_al_010">
				<li data-slide-to=2 data-target="#fw_al_010">
				</ol>
				<div class=carousel-inner role=listbox>
						<!-- <div class="item active">
							<img alt=fw_al_001_01 src="">
							 <div class="fw_al_010_slide">
								<br/>
							</div> 
						</div> -->
						<div class="item active">
							<img alt="fw_al_010_02" src="{% static '/images/banners2.png' %}" >
							<div class="fw_al_010_slide">
								<h3 data-animation="animated zoomInLeft">With All Due our Expertise.</h3>
								<h2 data-animation="animated zoomInLeft" style="color: #f9b500;">Missed Call On +918962502125</h2>
								<h3 data-animation="animated zoomInLeft">Connect with Experts.</h3>
							</div>
						</div>
						<div class="item">
							<img alt="fw_al_010_03" src="{% static  'images/banners2.png' %}" >
							<div class="fw_al_010_slide">
								<h3 data-animation="animated zoomInLeft">Make the best trades to Earn Best Returns.</h3>
								<h2 data-animation="animated zoomInLeft">We Can Add Value To Your Business.</h2>
								<p data-animation="animated zoomInLeft">Invest in 100% Tested Strategy to Multiply your Investment.</p>
							</div>
						</div>
						<div class="item ">
							<img alt=fw_al_001_01 src="{% static  'css/assets/front/images/slider/banners3.png' %}">
							<div class="fw_al_010_slide">
								<br/>
							</div> 
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
					<div class="gap-60"></div>
					<div class="ts-form form-boxed" id="ts-form">
						<div class="container">
							<div class="row">
								<div class="HEADING_TAGE">
									<div class="fw_al_010_slide">
										<h3 data-animation="animated zoomInLeft">With All Due our Expertise.</h3>
										<h2 data-animation="animated zoomInLeft" style="color: #f9b500;">For an Expert advice Give a Missed Call On +918962502125</h2>
										<h3 data-animation="animated zoomInLeft">Connect with Experts.</h3>
									</div>
									<h2 class="ftmainp" style="
									padding-top: 40px;">Get Paid Recommendation in India anywhere </h2> 
								</div>
								<div class="col-lg-12" id="qwerr">
									<form class="contact-form form_submit" id="contact_form" method="POST" data-parsley-validate>
										<div class="contact-wrapper">
											<div class="free_trial-box form-box w100">
												<input type="hidden" value="main_popup" name="data_param">
												<input type="hidden" name="path" value="Web Free trial page">
												<div class="error-container"></div>
												<div class="row">
													<h4><b>Get an Instant expert call</b></h4>
													<div class="about_heading_line"></div>
													<div class="col-lg-6 wow bounceInUp" data-wow-delay="0.10s">
														<div class="form-group">
															<input  class=" form-control f_c_css form-name" id="name" name="name" placeholder="Full Name" type="text" required="" data-parsley-error-message="Name is required.">
														</div>
													</div>
													<!-- Col end-->
													<div class="col-lg-6 wow bounceInUp" data-wow-delay="0.9s">
														<div class="form-group">
															<input class=" form-control f_c_css form-website" id="url" name="mobile" placeholder="Mobile Number" type="text" required="" data-parsley-error-message="Mobile is required.">
														</div>
													</div>
													<div class="col-lg-6 wow bounceInUp" data-wow-delay="0.7s">
														<div class="form-group">
															<input class=" form-control f_c_css form-email" id="email" name="email" placeholder="Email" type="email" data-parsley-error-message="Required a valid Email address.">
														</div>
													</div>

													<div class="col-lg-6 wow bounceInUp" data-wow-delay="0.7s">
														<div class="form-group">
															<select required name="services" class="selectft form-control">
																<option value="">Select Services</option>
																<option value="Stock Cash Basic">Stock Cash Basic</option>
																<option value="Stock Cash Premium">Stock Cash Premium</option>
																<option value="Stock Cash TechniQ">Stock Cash TechniQ</option>
																<option value="Stock Future Basic">Stock Future Basic</option>
																<option value="Stock Future Premium">Stock Future Premium</option>
																<option value="Stock Future TechniQ">Stock Future TechniQ</option>
																<option value="Stock Option Basic">Stock Option Basic</option>
																<option value="Stock Option Premium">Stock Option Premium</option>
																<option value="Stock Option TechniQ">Stock Option TechniQ</option>
																<option value="Index Option  Basic">Index Option  Basic</option>
																<option value="Index Option Premium">Index Option Premium</option>
																<option value="Index Option TechniQ">Index Option TechniQ</option>
																<option value="Index Future">Index Future</option> -->

																<option value="Base metal">Base metal</option>
																<option value="Bullions">Bullions</option>
																<option value="Energy">Energy</option>
																<option value="MCX Combo">MCX Combo</option>
															 </select> 
														</div>
													</div>
													
													<div class="col-lg-6 wow bounceInUp" data-wow-delay="0.3s">
														<input class=" pull-left" type="checkbox" id="check" required data-parsley-error-message="Please accept our terms and condition."/><span claaa="ml_10">  Note:- By Agreeing to the terms & condition,even if you are NDNC registered customer,you are agree to receive call and sms.</span>
													</div>
													<!-- Col 12 end-->
												</div>
												<!-- Form row end-->
												<div class="text-right wow bounceInUp" data-wow-delay="0.3s">
													<button data-wow-delay="0.1s" class="btn btn-primary tw-mt-30_n " onclick="SubForm()"  onclick="return alert('Form has been submitted')" type="submit">As an expert</button>
												</div>
												<span id="pageloader" style="color: #3e3e3e;font-size: 16px;font-weight: bold;display:none;">Please wait...</span>
												<!-- Form end-->
											</div>
											
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="clearfix"></div>
				<section class="about_section">
					<div class="container">
						<div class="row">
							<div class="HEADING_TAGE">
								<h1>SEBI REGISTERED ADVISORY COMPANY</h1>
							</div>
							<p>We facilitate investments in Primary market and trading in Secondary Market in Equity Trading through its Corporate Membership of the premier exchanges of the country namely National Stock Exchange (NSE) and The Stock Exchange, Mumbai (BSE). We enable trading and investments across all asset classes. Our retail and High Networth Individual (HNI) clients benefit from our stockbroking services.</p>
							<div class="col-md-6 col-sm-6 wow fadeInLeft animated" data-wow-delay="0.6s">
								<div class="about_banner_img">
									<img src="{% static 'css/assets/front/images/OPERATIONAL.png' %}" class="img-responsive" alt="Sebi Registered Advisory Company – ProfitAim Research">
								</div>
							</div>
							<div class="col-md-6 col-sm-6 wow fadeInRight animated" data-wow-delay="0.6s">
								<h3>Favourable Business Practices Sustainable Profits</h3>
								<div class="about_heading_line"></div>
								<p>All our services are transparent which helped us gain faith from our clients. And all our trade recommendation are based on thorough fundamental and technical analysis of the market through expert research analyst. </p>
								<ul class="about_unoder_list">
									<li>
										<span class="about_list_order"><img width="30px" src="{% static 'css/assets/front/images/growth-icon-0.png' %}" alt="ProfitAim Research Investment Advisor"></span>
										<span class="about_list_text">
											<h3>Mission</h3>
											Our Research Services in Stocks and Commodities markets is our Key to Success; by delivering highest Quality Research Services and Support to our Clients; together we can create More Money form Markets.</span>
										</li>
										<li>
											<span class="about_list_order"><img width="30px" src="{% static 'css/assets/front/images/growth-icon-0.png' %}" alt="ProfitAim Research Investment Advisor"></span>
											<span class="about_list_text">
												<h3>Goal</h3>
												To become the world class corporation and industry leader in the market share.</span>
											</li>
										</ul>
									</div>
								</div><!-- row -->
							</div><!-- container -->
						</section><!-- about_section -->
						

						<section class="section_service_blog">
							<div class="container">
								<div class="row">
									<div class="sec-title text-center">
										<h3>OUR<span> SERVICES</span> </h3>
									</div>
								</div>
								<div class="row">
									<ul>
										<li class="wow rollIn">
											<div class="box_s">
												<div class="icon icon-a1"></div>
												<h2>Stock Cash Basic</h2>
												<div class="about_heading_line"></div>
												<p>Our Stock Cash Basic are offered over instant messenger service and SMS that are mediated through hi-tech software.</p>

											</div>
										</li>
										<li class="wow rollIn">
											<div class="box_s">
												<div class="icon icon-a7"></div>
												<h2>Stock Cash Premium</h2>
												<div class="about_heading_line"></div>
												<p>We offer Stock Cash Premium recommendation at an unmatched accuracy to help our clients earn maximum profit from the exchange.</p>

											</div>
										</li>
										<li class="wow rollIn">
											<div class="box_s">
												<div class="icon icon-a4"></div>
												<h2>Stock Cash TechniQ</h2>
												<div class="about_heading_line"></div>
												<p>Our Stock Cash TechniQ help our investors trade the market safely. We cover the stocks cash segments .</p>

											</div>
										</li>
										<li class="wow lightSpeedIn">
											<div class="box_s">
												<div class="icon icon-a3"></div>
												<h2>Stock Future Basic</h2>
												<div class="about_heading_line"></div>
												<p>Our recommendation on the stock exchange are completely customized customer service where our customers would get calls in equity.</p>

											</div>
										</li>
										<li class="wow lightSpeedIn">
											<div class="box_s">
												<div class="icon icon-a9"></div>
												<h2> Stock Future Premium</h2>
												<div class="about_heading_line"></div>
												<p>Our Stock Future Premium Calls are generated by certified technical experts with bigger targets and minimum risk which assured accuracy.</p>

											</div>
										</li>
										<li class="wow bounceInRight">
											<div class="box_s">
												<div class="icon icon-a6"></div>
												<h2>Stock Future TechniQ</h2>
												<div class="about_heading_line"></div>
												<p>We offer focused and personalized service based on the investment plan and trading patterns in the equity market.</p>

											</div>
										</li>
									</ul>

									<!-- <a href="" class="read_more"> View more </a> -->
								</div>
							</div>
						</section>
						<!-- <section class="services_section_home">
							<div class="first_div">
								<div class='row'>
									<h2 class="head_screen underline" style="text-align:center;padding:30px">Client’s<span> Feedback</span></h2>
									<div class='col-md-offset-2 col-md-8'>
										<div class="carousel slide" data-ride="carousel" id="quote-carousel">
											<ol class="carousel-indicators">
												<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
												<li data-target="#quote-carousel" data-slide-to="1"></li>
												<li data-target="#quote-carousel" data-slide-to="2"></li>
											</ol>
											<div class="carousel-inner">
												<div class="item active">
													<blockquote class="remove_l_border">
														<div class="row">
															<div class="col-sm-9">
																<p class="textreview">I am Sunil Pawar from Nashik, its not a complaint m only share my experience with you all. I am trading  in share market from last 6-8 years.in this period m join more than 73 stock advisor comp. n loose money. now m trading with Profitaim comp. n m happy with there service they give me calls on fix charge for a month with single call single stoploss intraday calls. Very satisfactory services of Profitaim Research.</p>
																<br/>
																<p class="viewername">Sunil Pawar | FEB 11, 2018</p>
															</div>
														</div>
													</blockquote>
												</div>
												<div class="item">
													<blockquote class="remove_l_border">
														<div class="row">
															<div class="col-sm-9">
																<p class="textreview">I am eldest sister in the  4 members family, and I am only the earning person in my family. In my job I am not getting enough money to fulfil the necessities of my family. So I need the second source of income as well in this inflation. I opt for share market trading for this, now Profitaim as my advisory providing the best option recommendation to me and now i am earning good profits with them. Great services of profitaim.</p>
																<br/>
																<p class="viewername">Bhawna Patidar | April 29, 2018</p>
															</div>
														</div>
													</blockquote>
												</div>
												<div class="item">
													<blockquote class="remove_l_border">
														<div class="row">
															<div class="col-sm-9">
																<p class="textreview">I am very pleased to say that so far my association with ProfitAim has been really productive. When I join their service my investment is Rs.60000 nd now I convert amount to 2.5 lacs. I have been working with and receiving services from Mr Manish and I must say that he has exhibited real professional behaviour. His desire and his zeal to provide best services to the client is really commendable.</p>
																<br/>
																<p class="viewername">Shahid Khan | March 08, 2017</p>
															</div>
														</div>
													</blockquote>
												</div>
												<div class="item">
													<blockquote class="remove_l_border">
														<div class="row">
															<div class="col-sm-9">
																<p class="textreview">I am taking services from profitaim last 2 years and I am just take fifth renewal of their services. They are very professional in their work, specially Miss Aayushi and their support team. I think I earned 12 lacs profit from their call only from options trading. Many thanks to Aayushi and Profitaim.</p>
																<br/>
																<p class="viewername">Shailesh Chikhalkar | JULY 10, 2017</p>
															</div>
														</div>
													</blockquote>
												</div>
											</div>
											<a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
											<a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
										</div>                          
									</div>
								</div>
							</div>
							<div class="second_div">
								<div class="col-sm-12 bg_change_seocnd">
									<div class="col-md-10 padding_rem">
										<div>
											<div class="head_screen">Tracksheets<div class="about_heading_line"></div></div>
																								<a href="assets/uploads/admin_uploads/reports_trachsheet/PROFIT AIM INDEX OPTION.xlsx"><li><i class="fa fa-file-excel-o"></i><span>INDEX OPTION</span></li></a>
																										<a href="assets/uploads/admin_uploads/reports_trachsheet/PROFIT AIM CASHBASIC.xlsx"><li><i class="fa fa-file-excel-o"></i><span>STOCK CASH BASIC</span></li></a>
																										<a href="assets/uploads/admin_uploads/reports_trachsheet/PROFIT AIM CASHPREMIUM.xlsx"><li><i class="fa fa-file-excel-o"></i><span>STOCK CASH PREMIUM</span></li></a>
																										<a href="assets/uploads/admin_uploads/reports_trachsheet/PROFIT AIM CASHTECHNIQ.xlsx"><li><i class="fa fa-file-excel-o"></i><span>STOCK CASH TECHNIQ</span></li></a>
																										<a href="assets/uploads/admin_uploads/reports_trachsheet/PROFIT AIM FUTUREBASIC.xlsx"><li><i class="fa fa-file-excel-o"></i><span>STOCK FUTURE BASIC</span></li></a>
																							</div>
										<div>
											<div  class="head_screen">Reports<div class="about_heading_line"></div></div>
																								<a href="reports/INDEX_OPTION"><li><i class="fa fa-file-pdf-o"></i><span>INDEX OPTION</span></li></a>
																										<a href="reports/STOCK_CASH_BASIC"><li><i class="fa fa-file-pdf-o"></i><span>STOCK CASH BASIC</span></li></a>
																										<a href="reports/STOCK_CASH_PREMIUM"><li><i class="fa fa-file-pdf-o"></i><span>STOCK CASH PREMIUM</span></li></a>
																										<a href="reports/STOCK_CASH_TECHNIQ"><li><i class="fa fa-file-pdf-o"></i><span>STOCK CASH TECHNIQ</span></li></a>
																										<a href="reports/STOCK_FUTURE_BASIC"><li><i class="fa fa-file-pdf-o"></i><span>STOCK FUTURE BASIC</span></li></a>
																										<a href="reports/STOCK_FUTURE_TECHNIQ"><li><i class="fa fa-file-pdf-o"></i><span>STOCK FUTURE TECHNIQ</span></li></a>
																										<a href="reports/STOCK_OPTION_TECHNIQ"><li><i class="fa fa-file-pdf-o"></i><span>STOCK OPTION TECHNIQ</span></li></a>
																										<a href="reports/STOCK_OPTION_PREMIUM"><li><i class="fa fa-file-pdf-o"></i><span>STOCK OPTION PREMIUM</span></li></a>
																										<a href="reports/STOCK_OPTION_BASIC"><li><i class="fa fa-file-pdf-o"></i><span>STOCK OPTION BASIC</span></li></a>
																										<a href="reports/STOCK_FUTURE_PREMIUM"><li><i class="fa fa-file-pdf-o"></i><span>STOCK FUTURE PREMIUM</span></li></a>
																							</div>
									</div>
									<div class="col-md-2 hidden-xs"></div>
								</div>
							</div>
						</section> -->
<footer>
	<div class="block blackish">
		<div class="container">
			<div class="row"> 
				<div class="col-md-6 col-sm-6">
					<div class="widget">
						<div class="about">
							<li><h1 style="color:#fe4066;    margin-bottom: 21px;">GlobalSmartReaserchFirm</h1></li>
							<p>All our services are transparent which helped us gain faith from our clients. And all our trade recommendation are based on thorough fundamental and technical analysis of the market through expert research analyst.</p>
							<div class="contact">
								<ul>
									<li><span><i class="fa fa-phone"></i>Phone :</span> +918962502125</li>
									<li><span><i class="fa fa-envelope"></i>Email:</span> info@globalsmartresearchfirm.com
</li>
									<li><span><i class="fa fa-home"></i>Address:</span> Phoenix Road, Clover Park, Viman Nagar, Pune, Maharashtra 411014 </li>
									
								</ul>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
	</footer>

	
		<script src="{% static 'css/assets/front/plugins/parsley/parsley.min.js' %}"></script>
	<script src="{% static 'css/assets/front/plugins/notification/bootstrap-notify.min.js' %}"></script>
	<script src="{% static 'css/assets/front/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'css/assets/front/js/enscroll-0.5.2.min.js' %}"></script>
	<script src="{% static 'css/assets/front/js/script.js' %}"></script>
	<script  src="{% static 'css/assets/front/js/jquery.downCount.js' %}"></script>
	<script src="{% static 'css/assets/front/js/SideNavi.js' %}"></script>
	<!--slider-->
	<script src="{% static 'css/assets/front/js/slider/jquery.touchSwipe.js' %}"></script>
	<script src="{% static 'css/assets/front/js/slider/plugin.min.css' %}"></script>
	<script src="{% static 'css/assets/front/js/common.js?v=1628056222' %}"></script>
	<script src="{% static 'css/assets/front/plugins/wow/wow.min.js' %}"></script>
	<script src="{% static 'css/assets/front/plugins/blockUI/jquery.blockUI.js' %}"></script>
	<script src="{% static 'css/assets/front/js/review_slider.js' %}"></script>
</body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<script>
	
	function scrollHalf(){
    window.scrollTo(0, document.body.scrollHeight / 1.5);
    }

	function mobileScrollHalf(){
	window.location.reload()
    window.scrollTo(0, document.body.scrollHeight / 1.8);
    }

	function scrollBottom(){
		window.scrollTo(0, document.body.scrollHeight / 0.1);
	}

</script>

<script>
	function w3_open() {
	  document.getElementById("mySidebar").style.display = "block";
	}
	
	function w3_close() {
	  document.getElementById("mySidebar").style.display = "none";
	}

	const menuButtonElement = document.getElementById('menu-close-button')

	menuButtonElement.addEventListener('click', function(e){   
		document.getElementById("mySidebar").style.display = "none";
	});
	</script>
  

</html>




<!-- <script>
new WOW().init();
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
	if (window.pageYOffset >= sticky) {
		header.classList.add("sticky");
	} else {
		header.classList.remove("sticky");
	}
}
</script> -->