
<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/ico" href="https://profitmresearch.com/assets/front/images/favicon-32x32.png" />
	<link rel="icon" type="image/ico" href="https://profitmresearch.com/assets/front/images/favicon-32x32.png" />
	<link rel="shortcut icon" href="https://profitmresearch.com/assets/front/images/favicon.ico"/>
	    <title>Stock Market Tips | Positional Trading Tips | BTST/STBT Calls</title>
    <meta name="description" content="Get stock market tips, positional trading tips, BTST/STBT Calls, Intraday trading tips & much more to ensure that you get maximum profit out of investment. Contact us for FREE TRIAL now!">
    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
             "@id": "https://profitmresearch.com/",
             "url": "https://profitmresearch.com/",
             "name": "Home"
         }
     },{
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": "https://profitmresearch.com/aboutus",
            "name": "About Us"
        }
    }
    ]
}</script>

    <script type="application/ld+json">
{
"@context": "https://schema.org",
"@type": "Organization",
"url": "https://profitmresearch.com",
"name": "Profit Aim Research Investment Advisory",
"logo": "https://profitmresearch.com/assets/front/images/ProfitAim-Research-Investment-Advisor.png",
"email": "Profitaimresearch@gmail.com",
"contactPoint": 
[{
"@type": "ContactPoint",
"telephone": "+917049501000",
"contactType": "Customer Support"
}],
"sameAs": [
"https://www.facebook.com/profitmresearch",
"https://twitter.com/profitaim",
"https://www.linkedin.com/company/profit-aim-research/",
"https://in.pinterest.com/profitmreseasrch/ ",
"https://www.youtube.com/channel/UCu3GQJdUW2dppB4tNW8Wihw"
],
"address": {
"@type": "PostalAddress",
"addressLocality": "Vijay Nagar, Indore",
"addressRegion": "Madhya Pradesh",   
"postalCode": "452010",
"streetAddress": "Mazznine Flore, Plot Number 366, PU 4, Scheme No.54, Behind Country Inn Hotel"
}
}
</script>
	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<!-- Styles -->
	<link href="https://profitmresearch.com/assets/front/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="https://profitmresearch.com/assets/front/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://profitmresearch.com/assets/front/css/style.css?v=2103481986" type="text/css" />
	<link href="https://profitmresearch.com/assets/front/css/responsive.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="https://profitmresearch.com/assets/front/css/colors/red.css" title="color1" />
	<link rel="stylesheet" type="text/css" href="https://profitmresearch.com/assets/front/css/developer.css?v=1788559133" />
	<link rel="stylesheet" type="text/css" href="https://profitmresearch.com/assets/front/css/review_slider.css" />
	<link href="https://profitmresearch.com/assets/front/service_icons/font_face.css" rel="stylesheet" type="text/css"/>

	<link href="https://profitmresearch.com/assets/front/css/slider/plug.css" rel="stylesheet" media=all>
	<link href="https://profitmresearch.com/assets/front/plugins/parsley/parsley.css" rel="stylesheet" media=all>
	<link href="https://profitmresearch.com/assets/front/plugins/blockUI/jquery-ui.css" rel="stylesheet" media=all>
	<link rel="stylesheet" href="https://profitmresearch.com/assets/front/plugins/wow/animate.css">
	<link rel="canonical" href="https://profitmresearch.com/aboutus" />
	<script src="https://profitmresearch.com/assets/front/js/jquery.1.10.2.js" type="text/javascript"></script>
	<script> var base_url = 'https://profitmresearch.com/';</script>
	<!-- Global site tag (gtag.js) - Google Ads: 856048451 -->
	<!-- Global site tag (gtag.js) - Google Ads: 856048451 -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=AW-856048451"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'AW-856048451');
	</script>
	<!-- Start of profitaim Zendesk Widget script -->
	<!--<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=1cba687e-86e1-48cd-8477-ea12a432d2d8"> </script>-->
	<!-- End of profitaim Zendesk Widget script -->

	<!--Start of Zendesk Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
		d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
			$.src="https://v2.zopim.com/?3yBtFQOOnsQLolfseO26Sava3wTM3wSx";z.t=+new Date;$.
			type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
			</script>
			<!--End of Zendesk Chat Script-->
		</head>

		<body class="about_us">


			<div class="loading-area" style="display:none;">
				<div class="loading-box"></div>
				<div class="loading-pic">
					<div class="cssload-container">
						<div class="cssload-dot bg-primary"><i class="fa fa-inr"></i></div>
						<div class="step" id="cssload-s1"></div>
						<div class="step" id="cssload-s2"></div>
						<div class="step" id="cssload-s3"></div>
					</div>
				</div>
			</div>
			<div class="scrollTop">
				<img src="https://profitmresearch.com/assets/front/images/scrolling_icons.png" width="48" height="48" title="Scroll to top" alt="ProfitAim Scroll Image"> </div>
				<div class="mainTitle" ></div>
				<div class="theme-layout">
					<header class="header2">
						<div class="topbar">
							<div class="container">
								<p><i class="fa fa-mobile"></i> 7049501000</p>
								<p><i class="fa fa-envelope"></i>  Profitaimresearch@gmail.com</p>
								<ul class="social-media pull-right">
									<li><a title="" target="_blank" href="https://www.linkedin.com/company/profit-aim-research/"><i class="fa fa-linkedin"></i></a></li>
									<!--<li><a title="" target="_blank" href="https://plus.google.com/u/0/+ProfitAimResearch"><i class="fa fa-google-plus"></i></a></li>-->
									<li><a title="" target="_blank" href="https://twitter.com/profitaim"><i class="fa fa-twitter"></i></a></li>
									<li><a title="" target="_blank" href="https://www.facebook.com/profitmresearch"><i class="fa fa-facebook"></i></a></li>
									<li><a title="" target="_blank" href="https://www.youtube.com/channel/UCu3GQJdUW2dppB4tNW8Wihw"><i class="fa fa-youtube"></i></a></li>
									<li><a title="" target="_blank" href="https://in.pinterest.com/profitmreseasrch/"><i class="fa fa-pinterest"></i></a></li>
								</ul>
							</div>
						</div><!--- TOP BAR -->
						<nav class="ste" id="myHeader">
							<div class="container">

								<ul>
									<li style="width:120px"><a href="https://profitmresearch.com/" title=""><img src="https://profitmresearch.com/assets/front/images/ProfitAim-Research-Investment-Advisor.png" alt="Profit Aim Research" class="img-responsive logo" /></a></li>
									<li><div class="angrytext">SEBI REGISTRATION NO:  INA000004757</div></li>
									<li><a title="Home"  class="" href="https://profitmresearch.com/">Home</a></li>
									<li><a title="About" class="active"  href="about_us">About</a></li>
									
									<li class="menu-item-has-children mega_menu">
										<a href="https://profitmresearch.com/services" title="Services" class="" >Services</a> 
										<ul>
											<div class="col-md-6"><li><b>Equity</b></li>
												<li><a href="https://profitmresearch.com/services/stock_cash_basic" title="Stock Cash Basic">Stock Cash Basic</a></li>
												<li><a href="https://profitmresearch.com/services/stock_cash_premium" title="Stock Cash Premium">Stock Cash Premium</a></li>
												<li><a href="https://profitmresearch.com/services/stock_cash_techniq" title="Stock Cash TechniQ">Stock Cash TechniQ</a></li>

												<li><a href="https://profitmresearch.com/services/stock_future_basic" title="Stock Future Basic">Stock Future Basic</a></li>	
												<li><a href="https://profitmresearch.com/services/stock_future_premium" title="Stock Future Premium">Stock Future Premium</a></li>
												<li><a href="https://profitmresearch.com/services/stock_future_techniq" title="Stock Future TechniQ">Stock Future TechniQ</a></li>	
												<!-- <li><a href="" title="Base Metal">Base Metal</a></li>
												<li><a href="" title="Index Future">Energy</a></li> -->

											</div> 	
											<div class="col-md-6"><li><b>&nbsp;</b></li>
												<li><a href="https://profitmresearch.com/services/stock_option_basic" title="Stock Option Basic">Stock Option Basic</a></li>					
												<li><a href="https://profitmresearch.com/services/stock_option_premium" title="Stock Option Premium">Stock Option Premium</a></li>
												<li><a href="https://profitmresearch.com/services/stock_option_techniq" title="Stock Option TechniQ">Stock Option TechniQ</a></li>
												<li><a href="https://profitmresearch.com/services/index_option_basic" title="Index Option Basic">Index Option Basic</a></li>
												<li><a href="https://profitmresearch.com/services/index_option_premium" title="Index Option Premium">Index Option Premium</a></li>
												<li><a href="https://profitmresearch.com/services/index_future" title="Index Future">Index Future</a></li>

												<!-- <li><a href="" title="Index Future">Bullions</a></li>
												<li><a href="" title="MCX Combo">MCX Combo</a></li> -->
											</div>	
										</ul>

									</li>
									<li><a href="https://profitmresearch.com/pricing" title="Pricing" class="">Pricing</a></li>
									<li class=""><a class="" href="https://profitmresearch.com/payment" title="Payment">Payment</a>
										<!-- menu-item-has-children <ul> -->
											<!-- <li><a href="#" title="">Fund Transfer</a></li> -->
											<!-- <li><a href="" target="_blank" title="Pay U Money">Pay U Money</a></li> -->
											<!--<li><a title="Express ccavenue checkout">Express ccavenue checkout</a></li>-->			
										<!-- </ul> -->
									</li>
									<li><a class="" href="my_blog" title="">Blog</a></li>
								</ul>
							</div>
						</nav>
					</header><!--- HEADER -->

					<div class="responsive-header">
						<div class="responsive-contact">
							<span>
								<p class="responsive-phone"><i class="fa fa-phone"></i> 7049501000</p>
								<p class="responsive-mail"><i class="fa fa-envelope"></i> Profitaimresearch@gmail.com</p>
							</span>
							<a class="phone-btn active" href="#" title=""><i class="fa fa-phone"></i></a>
							<a class="mail-btn" href="#" title=""><i class="fa fa-envelope"></i></a>
						</div><!-- Responsive Contact -->
						<div class="responsive-extras">
							<div class="responsive-social">
								<!--<a target="_blank" href="https://twitter.com/profitaim" title=""><i class="fa fa-twitter"></i></a>-->
								<!--<a target="_blank" href="https://www.facebook.com/profitmresearch" title=""><i class="fa fa-facebook"></i></a>-->
								<!--<a target="_blank" href="https://plus.google.com/u/0/+ProfitAimResearch" title=""><i class="fa fa-google-plus"></i></a>-->
								<!--<a target="_blank" href="https://www.linkedin.com/company/profit-aim-research/" title=""><i class="fa fa-linkedin"></i></a>-->
								<div class="angrytext-1">SEBI REGISTRATION NO:  INA000004757</div>
							</div><!-- Responsive Social -->
						</div><!-- Responsive Extras -->
						<div class="responisve-bar">
							<div class="responsive-logo"><a href="https://profitmresearch.com/" title=""><img src="https://profitmresearch.com/assets/front/images/ProfitAim-Research-Investment-Advisor.png" alt="" /></a></div>
							<span class="responsive-btn"><i class="fa fa-list"></i></span>
						</div>
					</div><!-- Responsive Header -->
					<div class="responsive-menu">
						<ul>
							<li><a title="Home"  class="" href="https://profitmresearch.com/">Home</a></li>
							<li><a title="About" class="active"  href="https://profitmresearch.com/aboutus">About</a></li>
							<li class="menu-item-has-children"><a href="https://profitmresearch.com/services" title="Services">
								Services</a>
								<ul>
									<li class="menu-item-has-children"><a href="javascript:void(0)" title="Equity">Equity</a>
										<ul>
											<!-- <li><a href="" title="Stock Cash">Stock Cash</a></li>
											<li><a href="" title="Stock Option">Stock Option</a></li>
											<li><a href="" title="Stock Future">Stock Future</a></li>
											<li><a href="" title="Stock Cash Super HNI">Stock Cash Super HNI</a></li>	
											<li><a href="" title="Stock Option Super HNI">Stock Option Super HNI</a></li>	
											<li><a href="" title="Stock Future Super HNI">Stock Future Super HNI</a></li>
											<li><a href="" title="Nifty Future">Nifty Future</a></li>	
											<li><a href="" title="Nifty Option">Nifty Option</a></li> -->

											<li><a href="https://profitmresearch.com/services/stock_cash_basic" title="Stock Cash Basic">Stock Cash Basic</a></li>
											<li><a href="https://profitmresearch.com/services/stock_cash_premium" title="Stock Cash Premium">Stock Cash Premium</a></li>
											<li><a href="https://profitmresearch.com/services/stock_cash_techniq" title="Stock Cash TechniQ">Stock Cash TechniQ</a></li>

											<li><a href="https://profitmresearch.com/services/stock_future_basic" title="Stock Future Basic">Stock Future Basic</a></li>	
											<li><a href="https://profitmresearch.com/services/stock_future_premium" title="Stock Future Premium">Stock Future Premium</a></li>
											<li><a href="https://profitmresearch.com/services/stock_future_techniq" title="Stock Future TechniQ">Stock Future TechniQ</a></li>	
											<!-- <li><a href="" title="Base Metal">Base Metal</a></li>
											<li><a href="" title="Index Future">Energy</a></li> -->
											<li><a href="https://profitmresearch.com/services/stock_option_basic" title="Stock Option Basic">Stock Option Basic</a></li>					
											<li><a href="https://profitmresearch.com/services/stock_option_premium" title="Stock Option Premium">Stock Option Premium</a></li>
											<li><a href="https://profitmresearch.com/services/stock_option_techniq" title="Stock Option TechniQ">Stock Option TechniQ</a></li>
											<li><a href="https://profitmresearch.com/services/index_option_basic" title="Index Option Basic">Index Option Basic</a></li>
											<li><a href="https://profitmresearch.com/services/index_option_premium" title="Index Option Premium">Index Option Premium</a></li>
											<li><a href="https://profitmresearch.com/services/index_future" title="Index Future">Index Future</a></li>

											<!-- <li><a href="" title="Index Future">Bullions</a></li>
											<li><a href="" title="MCX Combo">MCX Combo</a></li> -->
										</ul>
									</li>
							<!-- <li class="menu-item-has-children"><a href="javascript:void(0)" title="Commodity">Commodity</a>
								<ul>
									<li><a href="" title="MCX Premium">MCX Premium</a></li>
									<li><a href="" title="MCX Combo">MCX Combo</a></li>
									
									<li><a href="" title="Base Metal">Base Metal</a></li>
									<li><a href="" title="Bullions">Bullions</a></li>
									<li><a href="" title="Energy">Energy</a></li>
								</ul>
							</li> -->
						</ul>
					</li>
					<li><a class="" href="my_blog" title="">Blog</a></li>				
				</ul>
			</div>
			<div class="clearfix"></div><div id="container_inn"  >
	<div class="main_heading"  ><div class="mainheadi_ab" id="responsic" >
	<h1>	About Us </h1>
	<span style="text-align: center;
    margin-left: 45%;
    color: #fff;"> <a href="https://profitmresearch.com/">Home</a> / <a href="javascript:void(0)">About Us</a></span>
	</div>

</div>
<div class="curveline1" >
	<div class="curveline" >

		<div class="mainservices container">
			<div class="topheading">
				<span>Reliable Presence Around The Globe.</span><br/>
				Commodity Trading, Swing Trading, Future Trading and Option Trading in Stock,
				Commodity & Bullion Market. 
			</div>
			<div class="topheadingbox">
				<p>
					<span>Hurry Up!</span><br/>
					Register Your Number
				</p>
				<div class="rightnow"><a href="https://profitmresearch.com/freetrial" >Register Now</a></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</div>
<div class="clear"></div>

<section class="secton_who_we_are" >
	<div class="container">
		<div class="row wow bounceInDown">
			<div class="col-md-12">

				<h2 class="who_we_are">Who We Are? </h2>

				<p>ProfitAim Research is SEBI Registered investment advisory company (Registration No <strong>INA000004757</strong>). As an all-around oversaw and acclaimed fast services provider in the advisory business, we are glad for the trusted clientele who earned incredible achievement in the Stock Market by the investment plans represented by our specialists.</p>

				<p>We also help our customers with prompt stock market recommendation in bullion, metals, option future recommendation, equity intraday recommendation, intraday call put recommendation, positional trading recommendation, btst stock recommendation, intraday strategy in derivatives, commodities and agricultural products traded in NSE, BSE, NCDEX and MCX segments.</p>

				<span><b>What Makes ProfitAim Research Different From Other Trading recommendation Provider</b></span>
				<p>ProfitAim’s professional team makes our company more experienced, handy and quantitative to make coveted benefit from money invested in Stock Market. Our team gives you recommendations on appropriate segment according to your danger bearing limit. Each individual's motivation to contribute and exchange all alone basics is one of a kind. Regardless of the aptitude level, we give the complete investment arrangements over speculation items for traders and investors.</p>

				<p>ProfitAim Research is not just an Stock Advisory firm, we are a Research Advisory Firm where we perform technical as well as fundamental research to provide highly accurate share market intraday trading recommendation.</p>
					


				<span><b>ProfitAim Research Indore History and Expertise</b></span>
				
				<p>We have a skilled and knowledgeable technical analyst team who provide precise Call Put Target based recommendation by analyzing Stock Market trading trends.</p>
				<p>We utilize the key and in addition technical analysis furthermore trade the effect of world stock market on Indian Market. We likewise deal with the most recent News on different occasions amid the examination. <span class="special_line">We are a one stop hotspot for the investors</span> around the globe and take into account their financial investment needs with low risk high return in equity, derivatives and MCX trading.</p>
				<p>We give calls to our customers through SMS and Telephonically. Our SMS sevice is an extremely proficient framework guaranteeing the moment conveyance of Message with no loss of time. In this way, the customers get satisfactory time to go into the trade and get the most maximum benefit. We offer enhanced scope of services according to the investments of an investor, trader and broker.</p>
				
				<p>Our <strong>100% TECHNICAL AND FUNDAMENTAL RESEARCH BASED CALLS </strong>are based on technical analysis of the market with allocations made at stock market basics and its danger reward proportion. Every Executive of our organization is dependable, straightforward and focused on the pleasure of our clients. We don't offer verbal suggestions and send exchange signs through SMS. We additionally associate with our clients through Telephonically visit and delivery person services with call at whatever point they desire.</p>


				<span><b>Value of Profit Aim Research Investment Advisor</b></span>
				<p>Profit Aim is one of the alleged Stock Trade Research Advisory firms which is both SEBI registered and ISO certified. We trust that money related order and genuineness with the Stock Market is the key for achievement. We endeavor to offer predictable and all around investigated stock recommendation, equity recommendation, option recommendation, intraday call put recommendation for our customers with the goal that they appreciate exceptional yields at less hazard from the stock market.</p>


				<span><b>Stock Market Success with Our best Technical Analyst Team</b></span>
				<p>Every person associated with our organization is always straightforward which helped us gain confidence from our customers. And all our trading recommendation are outcome of thorough fundamental and technical analysis of the Stock Market through <strong>Technical Experts</strong>. Most importantly, we are completely supportive to our clients & help them make the best out of the stock market.</p>

				
				
			</div>
		</div>
	</div>
</section>



<section class="potion_relative_d">
	<div class="container">
	   <div class="row row-eq-height">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="postion_ab">
            
            <!--left column-->
		<div class="left-column clearfix">
			<div class="content-box clearfix">
				<div class="inner-box">
					<h2>Why Choose Us?</h2>
					<h4>Profitaim Delivers Trusted, Fact-Based Business Advisory. </h4>
					<div class="text">We offer function-specific expertise in all the major business functions as well as expertise in enterprise-wide concerns.</div>
					<!--<a href="https://profitmresearch.com/aboutus/#secton_who_we_are" class="theme-btn btn-style-one">Learn More</a>-->
				</div>
			</div>
		</div>
            
        </div>
    </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            
            
		<!--right column-->
		<div class="right-column">
			<div class="services-outer">
				<div class="clearfix">
					<div class="inner-box">
						<h2>We Research For<br>Your Financial Goals</h2>
						<div class="style-text">We have lot of great service that can enough to help you</div>
						<div class="text">We have lot of great services that can help you earn good profit from Stock Market.
We serve clients globally with our advisory services for Equity and Commodity Market. Our dedicated Research Team personnel are engaged between <b>9 AM - 5 PM</b> to provide you accurate trading signals. We deal with Individual clients and corporate clients. Our services are designed according to the need of every client segment.
</div>

						<!--Fact Counter-->
						<div class="fact-counter">
							<div class="row clearfix">

								<!--Counter Column-->
								<!-- <div class="column col-md-4 col-sm-4 col-xs-12 counter-column wow fadeIn animated counted" data-wow-duration="0ms" style="visibility: visible; animation-duration: 0ms; animation-name: fadeIn;">
									<div class="inner">
										<div class="count-outer">
											<div class="count-text" data-speed="2000" data-stop="5"><span class="increase_counnter">3</span></div><span class="plus-icon">years</span>
										</div>
										<h4 class="counter-title">Experience</h4>
									</div>
								</div> -->

								<!--Counter Column-->
								<!--<div class="column col-md-4 col-sm-4 col-xs-12 counter-column wow fadeIn animated counted" data-wow-duration="0ms" style="visibility: visible; animation-duration: 0ms; animation-name: fadeIn;">
									<div class="inner">
										<div class="count-outer">
											<div class="count-text" data-speed="2000" data-stop="30"><span class="increase_counnter">50</span></div><span class="plus-icon">+</span>
										</div>
										<h4 class="counter-title">Research Analyst</h4>
									</div>
								</div>-->

								<!--Counter Column-->
							<!--	<div class="column col-md-4 col-sm-4 col-xs-12 counter-column wow fadeIn animated counted" data-wow-duration="0ms" style="visibility: visible; animation-duration: 0ms; animation-name: fadeIn;">
									<div class="inner">	
										<div class="count-outer">
											<div class="count-text" data-speed="4000" data-stop="300"><span class="increase_counnter">1500</span></div><span class="plus-icon">+</span>
										</div>
										<h4 class="counter-title">Loyal Clients</h4>
									</div>
								</div>-->

							</div>
						</div>
						<li><a class="" href="my_blog" title="">Blog</a></li>
					</div>
				</div>
			</div>
		</div>
            
        </div>
      </div>
	</div>
</section>




<section class="section_service_blog about_bottom">
	<div class="container">
		<div class="row">
			<ul>
				<li class="wow rollIn">
					<div class="box_s">
						<span>Our Expertise</span>
						<div class="about_heading_line"></div>
						<p>All our intraday trading recommendation are based on technical analysis of the market with appropriations made at market fundamentals and its risk reward ratio. All our services are reliable, transparent and committed to the delight of our customers.</p>

					</div>
				</li>
				<li class="wow bounceInDown">
					<div class="box_s"><span>Best Investment Plans</span>
						<div class="about_heading_line"></div>
						<p>We always focus on the stand for best financial advisors and share market recommendation provider. Therefore here we offer the most excellent Investment Plans, which are backed up by our teams of enjoyment, diligent and sharp individuals who thrive to give out exquisite.</p>

					</div>
				</li>
				<li class=" wow lightSpeedIn">
					<div class="box_s"><span>Minimum Risk, More Profit</span>
						<div class="about_heading_line"></div>
						<p>We always work hard so that you can acquire more profit. Your investment arranges will remain in the hands of the perfect business sector recommendation supplier to make quick money prudently. Be without stress as we study the business sector for you, so that you can play safe in the risky stock market.</p>

					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<script type="text/javascript">
//http://jsfiddle.net/wQfMx/

$(function(){

var $header = $('.about_us'),
    scrollClass = 'increase_counnter',
    activateAtY = 1357;



$(window).scroll(function() {
        console.log('===='+$(window).scrollTop());
    if($(window).scrollTop() == activateAtY) {
    	
        $('.increase_counnter').each(function () {
				$(this).prop('Counter',0).animate({
					Counter: $(this).text()
				}, {
					duration: 4000,
					easing: 'swing',
					step: function (now) {
						$(this).text(Math.ceil(now));
					}
				});
			});
    } else {
        console.log(111);
    }
});
});
</script>
<footer>
	<div class="block blackish">
		<div class="container">
			<div class="row"> 
				<div class="col-md-6 col-sm-6">
					<div class="widget">
						<div class="about">
							<img src="https://profitmresearch.com/assets/front/images/logo-p.png" class="img-responsive wow shake" alt="ProfitAim Research Investment Advisor" />
							<!--<span>Namste</span>-->
							<p>All our services are transparent which helped us gain faith from our clients. And all our trade recommendation are based on thorough fundamental and technical analysis of the market through expert research analyst.</p>
							<div class="contact">
								<ul>
									<li><span><i class="fa fa-phone"></i>Phone :</span> 7049501000</li>
									<li><span><i class="fa fa-envelope"></i>Email:</span> Profitaimresearch@gmail.com</li>
									<li><span><i class="fa fa-home"></i>Address:</span> Mazznine Flore, Plot Number 366, PU 4, Scheme No.54, Behind Country Inn Hotel, Vijay Nagar, Indore, Madhya Pradesh 452010 </li>
								</ul>
							</div>							
							<ul class="social-media">
								<li><a target="_blank" href="https://twitter.com/profitaim" title=""><i class="fa fa-twitter"></i></a></li>
								<li><a target="_blank" href="https://www.facebook.com/profitmresearch" title=""><i class="fa fa-facebook"></i></a></li>
								<!-- <li><a target="_blank" href="https://plus.google.com/u/0/+ProfitAimResearch" title=""><i class="fa fa-google-plus"></i></a></li> -->
								<li><a target="_blank" href="https://www.linkedin.com/company/profit-aim-research/" title=""><i class="fa fa-linkedin"></i></a></li>
								<li><a title="" target="_blank" href="https://www.youtube.com/channel/UCu3GQJdUW2dppB4tNW8Wihw"><i class="fa fa-youtube"></i></a></li>
								<li><a title="" target="_blank" href="https://in.pinterest.com/profitmreseasrch/"><i class="fa fa-pinterest"></i></a></li>
								<a href="https://play.google.com/store/apps/details?id=com.profitmresearch.tips" target="_blank" >
									<img alt="Google Play Store" style="margin-top: 10px;height: 55px;"src="https://profitmresearch.com/assets/front/images/google_play_store.png?v=1"></a>
								</ul>															
							</div>
						</div>
					</div><!-- ABOUT WIDGET -->
					<div class="col-md-2 col-sm-2 ">
						<div class="widget">
							<div class="widget-title"><h4>Site Navigation</h4></div>
							<ul class="useL-link" style="width:50%; display:inline-block;">
								<li><a href="https://profitmresearch.com/">Home</a></li>
								<li><a href="https://profitmresearch.com/aboutus">About Us</a></li>
								<li><a href="https://profitmresearch.com/services">Services</a></li>
								<li><a href="https://profitmresearch.com/trackrecord">Performance</a></li> 
								<li><a href="https://profitmresearch.com/pricing">Pricing</a></li> 
								<li><a href="https://profitmresearch.com/payment">Payment</a></li>
								<li><a target="_blank" href="http://blog.profitmresearch.com/">Blog</a></li>
								<li><a href="https://profitmresearch.com/sitemap">Site Map</a></li>
								<li><a href="https://profitmresearch.com/disclosures">Disclosures</a></li>
								<li><a href="https://profitmresearch.com/disclaimer">Disclaimer</a></li>
								<li><a href="https://profitmresearch.com/terms_and_condition">Terms & Condition</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-2 col-sm-2 ">
						<div class="widget ">
							<div class="widget-title"><h4>Our Service</h4></div>
							<ul class="useL-link" style="width:100%; display:inline-block;">
								<li><a href="https://profitmresearch.com/services/stock_cash_basic">Stock Cash Basic</a></li>
								<li><a href="https://profitmresearch.com/services/stock_cash_premium">Stock Cash Premium</a></li>
								<li><a href="https://profitmresearch.com/services/stock_cash_techniq">Stock Cash TechniQ</a></li>
								<li><a href="https://profitmresearch.com/services/stock_future_basic">Stock Future Basic</a></li>
								<li><a href="https://profitmresearch.com/services/stock_future_premium">Stock Future Premium</a></li>
								<li><a href="https://profitmresearch.com/services/stock_future_techniq">Stock Future TechniQ</a></li>
								<li><a href="https://profitmresearch.com/services/stock_option_basic">Stock Option Basic</a></li>
								<li><a href="https://profitmresearch.com/services/stock_option_premium">Stock Option Premium</a></li>
								<li><a href="https://profitmresearch.com/services/stock_option_techniq">Stock Option TechniQ</a></li>
								<li><a href="https://profitmresearch.com/services/index_option_basic">Index Option  Basic</a></li>
								<li><a href="https://profitmresearch.com/services/index_option_premium">Index Option Premium</a></li>
								<li><a href="https://profitmresearch.com/services/index_option_techniq">Index Option TechniQ</a></li>
								<li><a href="https://profitmresearch.com/services/index_future">Index future</a></li>

								<!-- <li><a href="">Base metal</a></li>
								<li><a href="">Bullions</a></li>
								<li><a href="">Energy</a></li>
								<li><a href="">MCX Combo</a></li> -->
							</ul>	


						</div>
					</div><div class="col-md-2 col-sm-2 ">
					<div class="widget ">
						<div class="widget-title"><h4>Support</h4></div>
						<ul class="useL-link" style="width:50%; display:inline-block;">
							<li><a href="https://profitmresearch.com/contact">Contact Us</a></li>
							<li><a href="https://profitmresearch.com/kyc_info">Suitability Assessment</a></li>
							<!-- <li><a href="">KYC</a></li> -->
							<li><a href="https://profitmresearch.com/risk_profile">Risk Profile</a></li>
							<li><a href="https://profitmresearch.com/privacy_policy">Privacy Policy</a></li>
							<li><a href="https://profitmresearch.com/investor_charter">Investor Charter IA</a></li>
							<!-- <li><a href="">FAQ</a></li> -->
						</ul>
					</div>
				</div>
					<!-- <div class="col-md-3 col-sm-3" id="call_back_ptr">
						<div class="widget ">
							<div class="widget-title"><h4>Request a call back</h4></div>
							<div class="quick-message">
								<div id="message"></div>
								<form action="" method="post" data-parsley-validate class="form_submit" id="form_submit">
									<input type="hidden" value="callback" name="data_param">
									<input name="name" class="half-field form-control wow bounceInUp" data-wow-delay="0.9s" type="text" id="name"  placeholder="Name" required data-parsley-error-message="Name is required."/>
									<input name="mobile" class="half-field form-control wow bounceInUp" data-wow-delay="0.7s" type="text" id="mobile"  placeholder="Mobile" required data-parsley-error-message="Mobile is required."/>
									<input name="email" class="half-field form-control wow bounceInUp" data-wow-delay="0.5s" type="email" id="email" placeholder="Email" required data-parsley-error-message="Required a valid Email address."/>
									<textarea name="comments" class="form-control wow bounceInUp" id="comments" data-wow-delay="0.3s" placeholder="Description" required data-parsley-error-message="Description is required."></textarea>
									<input class="submit wow bounceInUp" data-wow-delay="0.1s" type="submit"  value="SUBMIT" />
								</form>
							</div>
						</div>
					</div> -->
					<!-- QUICK MESSAGE WIDGET -->
					



				</div>
			</div>
		</div>
	</footer>

	<!-- Footer -->
	<div class="bottom-footer">
		<div class="container">
			
			<p>
				<a href="https://profitmresearch.com/privacy_policy"> Privacy Policy </a> | 
				<a href="https://profitmresearch.com/contact" >Contact Us </a> |
				<a href="https://scores.gov.in/scores/Welcome.html" target="_blank">Complaint </a>
			</p>
			<p >Investment/Trading in markets is subject to market risk.</p>
			<p style="color:#357ed8">Copyright 2022, All Rights Reserved. </p>

		</div>
	</div>
	<div id="sideNavi">
		<div class="side-navi-item-default"></div>
		<div class="side-navi-item item1" id="hello"><div>QUICK REQUEST</div></div>
		<div class="side-navi-data">
			<div class="side-navi-tab">

				<ul>
					<form action="https://profitmresearch.com/save_form_data" method="post" data-parsley-validate class="quick_form_submit" id="quick_form">
						<li><h5 class="text-center">QUICK REQUEST</h4><hr class="hr_free" width="30%"></li>
						<input type="hidden" value="freetrail_popup" name="data_param">
						<li><input type="text" placeholder="Full Name" name="name" required data-parsley-error-message="Full Name is required."></li>
						<li><input type="text" placeholder="Mobile Number" name="mobile" required data-parsley-error-message="Mobile No is required."></li>
						<li><input class="free_trial" type="submit" value="SUBMIT"></li>
						<li id="sidebarpop" style="color: #3e3e3e;font-size: 16px;font-weight: bold;display:none;">Please wait...</li>

					</form>
				</ul>
			</div>
		</div>
	</div>
	<!-- SCRIPTS-->

		<script src="https://profitmresearch.com/assets/front/plugins/parsley/parsley.min.js"></script>
	<script src="https://profitmresearch.com/assets/front/plugins/notification/bootstrap-notify.min.js"></script>
	<script src="https://profitmresearch.com/assets/front/js/bootstrap.min.js"></script>
	<script src="https://profitmresearch.com/assets/front/js/enscroll-0.5.2.min.js"></script>
	<script src="https://profitmresearch.com/assets/front/js/script.js"></script>
	<script type="text/javascript" src="https://profitmresearch.com/assets/front/js/jquery.downCount.js"></script>
	<script src="https://profitmresearch.com/assets/front/js/SideNavi.js"></script>
	<!--slider-->
	<script src="https://profitmresearch.com/assets/front/js/slider/jquery.touchSwipe.js"></script>
	<script src="https://profitmresearch.com/assets/front/js/slider/plugin.min.js"></script>
	<script src="https://profitmresearch.com/assets/front/js/common.js?v=799217653"></script>
	<script src="https://profitmresearch.com/assets/front/plugins/wow/wow.min.js"></script>
	<script src="https://profitmresearch.com/assets/front/plugins/blockUI/jquery.blockUI.js"></script>
	<script src="https://profitmresearch.com/assets/front/js/review_slider.js"></script>
</body>
</html>




<script>
new WOW().init();
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
	if (window.pageYOffset >= sticky) {
		header.classList.add("sticky");
	} else {
		header.classList.remove("sticky");
	}
}
</script>