@media (max-width: 480px) {
    .size-controller {
      width: 100%;
    }
    .mobile-16px-font {
      font-size: 16px !important;
    }
    .mobile-hide {
      display: none;
    }
    .mobile-100-percent {
      width: 100% !important;
    }
  }
  
  @media (min-width: 480px) {
    .mobile-hide {
      display: inline;
    }
    .mobile-show {
      display: none;
    }
  }
  